body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: pink;
}

.ui.segment:first-child {
  margin-bottom: 0;
}

.masonry-cell {
  background-color: aqua;
}

.masonry-cell2 {
  background-color: darkseagreen;
}

@media all and (max-width: 1200px) {
  .react-draggable {
    display: none;
  }
}
