body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

/* General */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

.ant-layout-header {
  border-bottom: 3px solid #fff;
}

/* Nav */

.logo {
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 1px;
  color: pink;
}

.iconHamburger {
  display: block;
  position: relative;
  z-index: 1000;
  width: 50px;
  height: 50px;
  cursor: pointer;
  float: right;
  margin-top: 8px;
}

.iconHamburger:before {
  background: #777;
  border-radius: 2px;
  box-shadow: 0 6px 0 0 #777, 0 12px 0 0 #777;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  top: 18px;
  right: 13px;
}

.mobile-navigation {
  border-right: 0;
}

/* General */

.container {
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  height: 100%;
}

/* Home Page */

.masonry-cell {
}

.vertical-home-text {
  height: 100%;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-transform: uppercase;
  line-height: 100%;
  padding: 20px 0;
  color: #e8e8e8;
  background-color: #fff;
  font-weight: 600;
  font-size: 24vw;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  display: flex;
  align-items: center; /* align vertical */
}

.home-me-right-container {
  background-color: #fff;
  padding: 25px;
  height: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 50%;
  margin: 0 auto;
  border: 10px solid #e8e8e8;
  border-radius: 50%;
  margin-bottom: 20px;
}

.home-write-up {
  width: 80%;
  font-size: 1.15em;
  text-align: center;
  margin: 0 auto;
}

.masonry-cell2 {
  cursor: pointer;
}

.cell {
  border: 5px solid #fff;
  width: 100%;
  height: 100%;
}

.cell-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.cell-box {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}

.cell-title {
  position: absolute;
  padding-left: 13px;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 2.3em;
  line-height: 1;
  text-transform: uppercase;
}

.cell-category {
  position: absolute;
  margin-left: 13px;
  top: 70%;
  transform: translateY(-70%);
  color: #fff;
  border: 1px solid #fff;
  line-height: 1;
  padding: 5px 20px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.cell-date {
  position: absolute;
  margin-left: 13px;
  top: 82%;
  transform: translateY(-82%);
  color: #fff;
  border: 1px solid #fff;
  line-height: 1;
  padding: 5px 20px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.cell-tint {
  background-color: #64a5bc;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Login / New Post */

.login-or-post-container {
  background-color: #fff;
  padding: 25px;
}

.input {
  margin-bottom: 16px;
}

.input button {
  margin-top: 10px;
}

.input i {
  color: green;
  font-size: 2em;
}

.login-error {
  color: #f93887;
  margin: 16px 0;
}

.post-preview {
  margin-top: 10px;
}

.post-preview-title {
  text-transform: uppercase;
  font-size: 4em;
  color: #fff;
  background-color: #f93887;
  padding: 0 20px;
  margin-bottom: 10px;
}

/* Background Page */

.background-container h1 {
  color: #64a5bc;
  font-size: 4em;
  margin-bottom: 15px;
}

.background-container h2 {
  color: #64a5bc;
  margin-bottom: 5px;
}

.background-container p {
  font-size: 1.2em;
  width: 80%;
}

.background-container i {
  color: #858585;
  font-size: 1.2em;
}

.background-container button {
  margin-bottom: 20px;
}

.modal-image {
  width: 100%;
  height: 100%;
}

.modal-image img {
  width: 100%;
}

.background-education {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 10px;
}

.background-passion {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 10px;
}

.background-projects {
  background-color: #fff;
  padding: 25px;
}

.background-projects p {
  margin: 20px 0;
}

.background-project button {
  margin: 20px 10px 0 0;
}

.background-stack {
  font-size: 0.8em;
  color: #f93887;
  text-align: center;
  margin-top: 5px;
  margin-left: -15px;
}

.background-stack img {
  width: 70%;
  height: 70%;
  margin-bottom: 10px;
}

.background-stack p {
  color: blue;
}

/* Post Page */

.post-container {
  margin: 10px;
  height: 100%;
}

.post-col-left {
  height: 100%;
}

.post-col-right {
  height: 100%;
}

.post-title {
  background-color: #fff;
  padding: 35px 30px 35px 40px;
  margin-bottom: 10px;
  display: block;
  height: auto;
}

.post-title h1 {
  font-size: 7em;
  color: #64a5bc;
  line-height: 1;
  margin-bottom: 15px;
}

.post-category span {
  background-color: #f93887;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 10px;
  font-size: 2.3em;
  line-height: 1.2;
}

.post-date {
  color: #7a7a7a;
  font-size: 1em;
  margin-top: 10px;
  font-style: italic;
}

.post-content {
  background-color: white;
  height: auto;
  padding: 30px 40px;
  font-size: 1.2em;
  line-height: 2;
}

.post-content h1 {
  color: #64a5bc;
}

.post-content h2 {
  color: #64a5bc;
}

.post-content h3 {
  color: #64a5bc;
}

.post-content h4 {
  color: #64a5bc;
}

.post-content h5 {
  color: #64a5bc;
}

.post-content h6 {
  color: #64a5bc;
}

.markdown {
  width: 80%;
}

pre code {
  font-family: 'Courier', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #52595d;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #282b36;
  padding: 5px;
  display: inline-block;
  margin: 0px;
}

pre {
  border: 1.2 em solid #cacaca;
  line-height: 1.2em;
  font: 12px 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    monospace;
  padding: 10px;
  overflow: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #282b36;
  color: #393939;
  margin: 0px;
  margin-bottom: 10px;
  width: 80%;
}

.post-content p {
  max-width: 80%;
}

.post-content p:first-child:first-letter {
  float: left;
  font-size: 7em;
  line-height: 70px;
  padding-top: 15px;
  padding-right: 8px;
  color: #f93887;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-transform: uppercase;
  line-height: 100%;
  padding: 20px 0;
  color: #e8e8e8;
  background-color: #fff;
  font-weight: 600;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  display: flex;
  align-items: center; /* align vertical */
  justify-content: center;
}

.markdown-preview {
  padding: 20px;
  margin: 20px 0;
}

/* Posts (Blog) Page */

.blog-left-container {
  background-color: #fff;
  height: 250px;
  padding: 20px;
}

.blog-left-container h1 {
  text-transform: capitalize;
  color: lightgray;
  text-align: left;
}

.blog-right-container {
  background-color: #fff;
  height: auto;
  margin-bottom: 10px;
}

.blog-right-container-container {
  padding: 30px;
}

.blog-image-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  border-right: 10px solid #e8e8e8;
}

.blog-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.blog-title h1 {
  color: #64a5bc;
  font-size: 4em;
  margin: 0;
}

.blog-date {
  color: #7a7a7a;
  font-size: 1em;
  margin-bottom: 5px;
}

.blog-date span {
  background-color: #f93887;
  color: #fff;
  text-transform: uppercase;
  padding: 1px 5px;
  font-size: 1.2em;
}

.blog-link {
  margin-top: 20px;
}

.blog-pagination {
  background-color: #f93887;
  padding: 15px;
  border-right: 10px solid #e8e8e8;
  color: #fff;
  line-height: 1.8;
}

.blog-pagination i {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  cursor: pointer;
  line-height: 1;
}

.blog-pagination i:hover {
  color: #64a5bc;
  cursor: pointer;
}

/* Footer */

.footer-form-container {
  min-height: 374px;
}

.footer-form h1 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 2.5em;
  color: #fff;
  margin: 50px 0 35px 0;
}

.footer-form input {
  color: #fff;
  background-color: #64a5bc;
  border-radius: 0px;
  border: 1px solid #fff;
  margin: 5px 0;
  padding: 20px;
}

.footer-form input::placeholder {
  color: #fff;
}

.footer-form textarea {
  color: #fff;
  background-color: #64a5bc;
  border-radius: 0px;
  border: 1px solid #fff;
  margin: 5px 0;
  padding: 20px;
}

.footer-form textarea::placeholder {
  color: #fff;
}

.footer-form button {
  border-radius: 0px;
  background-color: #f93887;
  width: 100%;
  padding: 10px;
  height: auto;
  outline: none;
  margin-top: 10px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 2px;
  margin-bottom: 60px;
}

.footer-form button:hover {
  color: #64a5bc;
}

.footer-form-container .contact-form-message {
  font-size: 1em;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 2px;
  padding-top: 60px;
}
.footer-form-container .contact-form-message i {
  font-size: 5em;
  margin: 20px 0 30px 0;
  color: #fff;
}

.footer-social {
  padding: 20px;
  width: 100%;
  background-color: #fff;
  text-align: left;
}

.footer-social span {
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #f93887;
}

.footer-social i {
  font-size: 2em;
  margin-top: 6px;
  color: #f93887;
  text-align: right;
  width: 100%;
}

.footer-social i:hover {
  color: #64a5bc;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid lightgray;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Media Queries */

@media all and (max-width: 1200px) {
  .react-draggable {
    display: none;
  }
}

/* AntD md size */
@media all and (max-width: 991px) {
  .vertical-home-text {
    writing-mode: unset;
    text-orientation: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -o-transform: unset;
    -ms-transform: unset;
    transform: unset;
    text-transform: uppercase;
    line-height: 100%;
    color: #e8e8e8;
    background-color: #fff;
    font-weight: 600;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center; /* align vertical */
    justify-content: center;
    margin-bottom: 10px;
  }
  .vertical-text {
    writing-mode: unset;
    text-orientation: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -o-transform: unset;
    -ms-transform: unset;
    transform: unset;
    text-transform: uppercase;
    line-height: 100%;
    color: #e8e8e8;
    background-color: #fff;
    font-weight: 600;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center; /* align vertical */
    justify-content: center;
    margin-bottom: 10px;
  }
  .home-me-right-container {
    height: 900px;
  }
  .avatar {
    margin-bottom: 50px;
  }
  .home-write-up {
    width: 90%;
  }
}

@media all and (max-width: 768px) {


  .footer-social {
    text-align: center;
    padding: 50px 0;
  }
  .footer-social span {
    letter-spacing: 2px;
    font-size: 2.5em;
  }
  .footer-social i {
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 3em;
    text-align: center;
  }

  .avatar {
    width: 75%;
  }
  .home-write-up {
    width: 95%;
  }
}

@media all and (max-width: 480px) {
  .home-me-right-container {
    height: 740px;
  }
  .avatar {
    width: 90%;
  }
}


/* Media Queries specific to the vertical text size */

@media all and (min-width: 50px) {
  .vertical-text {
    font-size: 0.1em;
  }
  .vertical-home-text {
    height: 200px;
  }
}
@media all and (min-width: 100px) {
  .vertical-text {
    font-size: 0.2em;
  }
}
@media all and (min-width: 200px) {
  .vertical-text {
    font-size: 0.4em;
  }
}
@media all and (min-width: 300px) {
  .vertical-text {
    font-size: 0.6em;
  }
}
@media all and (min-width: 400px) {
  .vertical-text {
    font-size: 0.8em;
  }
}
@media all and (min-width: 500px) {
  .vertical-text {
    font-size: 1em;
  }
}
@media all and (min-width: 600px) {
  .vertical-text {
    font-size: 1.2em;
  }
}
@media all and (min-width: 700px) {
  .vertical-text {
    font-size: 1.4em;
  }
  .vertical-home-text {
    font-size: 10.5em;
    letter-spacing: 32px;
    height: 200px;
  }
}
@media all and (min-width: 800px) {
  .vertical-text {
    font-size: 1.6em;
  }
  .vertical-home-text {
    font-size: 10em;
    letter-spacing: 42px;
    height: 200px;
  }
}
@media all and (min-width: 900px) {
  .vertical-text {
    font-size: 1.8em;
  }
  .vertical-home-text {
    height: 200px;
  }
}
@media all and (min-width: 992px) {
  .vertical-text {
    font-size: 15.5em;
  }
  .vertical-home-text {
    font-size: 10.5em;
    letter-spacing: 32px;
    height: 100%;
  }
}
@media all and (min-width: 1100px) {
  .vertical-text {
    font-size: 16.3em;
  }
  .vertical-home-text {
    font-size: 11em;
    letter-spacing: 29px;
  }
}
@media all and (min-width: 1200px) {
  .vertical-text {
    font-size: 17em;
  }
  .vertical-home-text {
    font-size: 11em;
    letter-spacing: 28px;
  }
}
@media all and (min-width: 1300px) {
  .vertical-text {
    font-size: 18em;
  }
  .vertical-home-text {
    font-size: 12em;
    letter-spacing: 21px;
  }
}
@media all and (min-width: 1400px) {
  .vertical-text {
    font-size: 19em;
  }
  .vertical-home-text {
    font-size: 12.5em;
    letter-spacing: 17px;
  }
}
@media all and (min-width: 1500px) {
  .vertical-text {
    font-size: 21.8em;
  }
  .vertical-home-text {
    font-size: 13em;
    letter-spacing: 13px;
  }
}
@media all and (min-width: 1600px) {
  .vertical-text {
    font-size: 22.2em;
  }
}
@media all and (min-width: 1700px) {
  .vertical-text {
    font-size: 22.6em;
  }
}
